{% extends "adminstrator/base.html" %}
{% load static %}

{% block content %}
<div class="page-wrapper">
  <div class="page-content">
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4">
      <div class="col">
        <div class="card main-card border-0">
          <div class="card-body">
            <div class="card-content">
              <div class="row">
                <div class="col col-md-4">
                  <a href="{% url 'users:create_teacher' %}">
                    <div class="card shadow-sm border-0 square-card d-flex align-items-center justify-content-center">Add Teacher</div>
                  </a>
                </div>
                <div class="col col-md-4">
                 <a href="{% url 'users:register' %}">
                  <div class="card shadow-sm border-0 square-card d-flex align-items-center justify-content-center">Add Student</div>
                 </a>
                </div>
                <div class="col col-md-4">
                 <a href="{% url 'users:create_parent' %}">
                  <div class="card shadow-sm border-0 square-card d-flex align-items-center justify-content-center">Create Parent</div>
                 </a>
                </div>
              </div>
              <div class="row mt-4">
                <div class="col col-md-4">
                  <div class="card shadow-sm border-0 square-card d-flex align-items-center justify-content-center">cards 4</div>
                </div>
                <div class="col col-md-4">
                  <div class="card shadow-sm border-0 square-card d-flex align-items-center justify-content-center">cards 5</div>
                </div>
                <div class="col col-md-4">
                  <div class="card shadow-sm border-0 square-card d-flex align-items-center justify-content-center">cards 6</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock content %}
