{% extends "adminstrator/base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <h2>Student List</h2>
    {% if students %}
    <table class="table">
      <thead>
        <tr>
          <th>Full Name</th>
          <th>Admin No</th>
          <th>Class</th>
        </tr>
      </thead>
      <tbody>
        {% for student in students %}
        <tr>
          <td>{{ student.get_full_name }}</td>
          <td>{{ student.username }}</td>
          <td>{{ student.current_class }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>No students found.</p>
    {% endif %}
  </div>
{% endblock content %}
