{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <!-- Insert your logo here -->
    <img src="{% static 'main/images/logo2.png' %}" alt="Logo" width="100%" height="50">
  </a>

  <!-- Button to toggle navbar on small screens -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link btn btn-outline-secondary" href="#">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-outline-secondary" href="#">Report Form</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-outline-secondary" href="#">Discipline Record</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-outline-secondary" href="#">Fees Structure</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-outline-secondary" href="#">Fees Statement</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-outline-secondary" href="#">Make an Enquiry</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-outline-secondary" href="{% url 'users:logout' %}">Logout</a>
      </li>
    </ul>
  </div>
</nav





